{{#if (eq this.type "node")}}
  <div class="sidebar">
    <div class="sidebar__header">
      <h3>
        {{@record.name}}
      </h3>
    </div>
    <div class="sidebar__content">
      <BsForm @onSubmit={{this.onSave}} @model={{@record}} as |form|>
        <form.element
          @controlType="text"
          @label="Name"
          @placeholder="Name"
          @property="name"
        />

        {{#if (eq @record.type this.NodeType.Flow)}}
          <form.element
            @controlType="textarea"
            @label="Rate"
            @property="rate"
          />
        {{/if}}
        {{#if (eq @record.type this.NodeType.Variable)}}
          <form.element
            @controlType="number"
            @label="Value"
            @property="value"
          />
        {{/if}}
        {{#if (eq @record.type this.NodeType.Stock)}}
          <form.element
            @controlType="number"
            @label="Value"
            @property="value"
          />
        {{/if}}

        <form.submitButton>Save</form.submitButton>
      </BsForm>
    </div>
  </div>
{{/if}}