{{#let
  (if
    (eq this.intl.primaryLocale "de-de")
    (hash locale="en-us" name="En")
    (hash locale="de-de" name="De")
  ) as |countryInfo|
}}
  <li class="nav-item">
    <a
      href="javascript:void(0)"
      class="nav-link"
      {{on "click" (fn this.changeLocaleTo countryInfo.locale)}}
    >
      <FaIcon @icon="globe" />
      {{countryInfo.name}}
    </a>
  </li>
{{/let}}