<div class="edit-state-badge">
  {{#unless @modelVersion.canEdit}}
    <span class="badge rounded-pill badge-warning text-bg-light">
      {{t "components.model_info.view_mode"}}
    </span>
    <BsTooltip
      @title={{t "components.edit_state_badge.view_mode.tooltip"}}
      @placement="bottom"
    />
  {{/unless}}
  {{#if this.applicationState.isDemoMode}}
    <span class="badge rounded-pill badge-warning text-bg-light">
      {{t "components.edit_state_badge.demo_mode.title"}}
    </span>
    <BsTooltip
      @title={{t "components.edit_state_badge.demo_mode.tooltip"}}
      @placement="bottom"
    />
  {{/if}}
</div>