<div
  class="save-indicator"
  {{did-update this.update @isSaving}}
  {{will-destroy this.destroyAnimation}}
>
  <BsSpinner
    @type="dark"
    class={{concat
      "save-indicator__spinner "
      (if
        this.isProgressing
        "save-indicator__show"
        (if this.isDone "save-indicator__done" "")
      )
    }}
  />
</div>