.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: get-spacer(3);

  li:after {
    padding-left: get-spacer(3);
    content: ">";
  }
  li:last-child:after {
    content: initial;
  }
}

.breadcrumbs__item {
  display: flex;
}
