.navbar.bg-dark {
  background-color: $color-secondary !important;

  .nav-link {
    color: $white !important;
  }
}

.navbar h2 {
  margin-bottom: 0;
}

.navbar-nav {
  align-items: center;
}

.navbar.bg-secondary,
.navbar.dark {
  color: $white;
  min-height: 47px;
  a {
    display: block;
    color: $white;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }

    &.dropdown-item {
      color: $dark;
    }
  }
}
