@use "sass:map";
@use "sass:color";

.react-flow__node.selected div {
  border-color: red;
}

.react-flow__node-flow__label {
  padding: 0 0.5rem;
}

@each $name, $color in $node-color-map {
  .react-flow__node-#{$name} .content {
    background-color: $color;
  }
}

$group-nodes: "folder", "agent";

@each $name in $group-nodes {
  .react-flow__node-#{$name} {
    border: var(--xy-node-border-default);
    border-radius: var(--xy-node-border-radius-default);

    .content {
      height: 100%;
      width: 100%;
    }

    &.intersect {
      // add outer shine
      box-shadow: 0px 0px 15px 9px map.get($node-color-map, $name);
    }
  }
}

@each $name, $color in $edge-color-map {
  .react-flow__edge-#{$name} {
    --xy-edge-stroke: #{$color};
    --xy-edge-stroke-selected: #{darken($color, 10%)};
    --xy-edge-stroke-width: 2;
  }
}

.react-wrapper .react-flow__controls {
  flex-direction: row;
}

.react-wrapper .react-flow__panel.center {
  margin-left: 140px;
  margin-right: 140px;
  // overflow: auto;
  width: calc(100% - 280px);
  display: flex;
  justify-content: center;

  left: auto;
  transform: none;
}

.react-flow__node-toolbar {
  border-radius: calc(1rem + 1px);
  background-color: $dark;

  button {
    background: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: 2px;
    text-align: center;
    &:hover {
      background-color: lighten($dark, 20%);
    }
  }
}

.react-flow__edge__control-point {
  &:focus {
    outline: none;
    fill: var(--xy-edge-stroke-selected-default);
  }
}

.react-flow__node {
  .react-flow__node-arrow__handle__target,
  .react-flow__node-arrow__handle__source {
    height: 8px;
    width: 8px;
    border-color: $black;
    background-color: $white;
  }
}
