@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "./variables-overrides";
@import "node_modules/bootstrap/scss/bootstrap";
@import "./custom-functions";
@import "./header";
@import "./breadcrumbs";

$node-color-map: (
  "flow": #a3c4ff,
  "stock": cadetblue,
  "variable": coral
);

body {
  margin: 0;
  text-underline-offset: 3px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: calc(100vh - 119px);
}

.main-content {
  margin-top: get-spacer(3);
}

.react-wrapper {
  flex-grow: 1;
  position: relative;
  height: 100%;
}

.react-flow__node.selected div {
  border-color: red;
}

.react-flow__node-flow__label {
  /* background-color: #a3c4ff; */
  padding: 0 0.5rem;
}

.react-flow__node-stock div {
  background-color: cadetblue;
}

.react-flow__node-variable div {
  background-color: coral;
}

.react-flow__node-folder,
.react-flow__node-agent {
  border: var(--xy-node-border-default);
  border-radius: var(--xy-node-border-radius-default);
  background-color: rgba($color: #574f7e, $alpha: 0.2);
  &.intersect {
    // add outer shine
    box-shadow: 0px 0px 15px 9px rgba($color: #574f7e, $alpha: 0.2);
  }
}

.sidebar__container {
  z-index: 1050;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: get-spacer(3);

  .animated-container {
    height: 100%;
  }
}

.sidebar {
  width: 400px;
  height: 100%;
  background-color: $white;
  box-shadow: $box-shadow-lg;
  border-color: $border-color;
  border-width: $border-width;
  border-style: $border-style;
  border-radius: $border-radius;

  display: flex;
  flex-direction: column;
}

.sidebar__header {
  min-height: 80px;
  display: flex;
  align-items: center;
  padding: get-spacer(3);
  border-bottom: $border-width $border-style $border-color;
}

.sidebar__content {
  flex-grow: 1;
  padding: get-spacer(3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.navbar h3 {
  color: $white;
  margin: 0;
}

.navbar__back {
  color: $white;
}

.toolbar__container {
  display: flex;
  align-items: center;
  gap: get-spacer(3);
}

.node-toolbar__node {
  padding: get-spacer(2) get-spacer(3);
  border-radius: $border-radius;
  border: ($border-width * 2) $border-style $black;
  cursor: grab;

  @each $name, $color in $node-color-map {
    &.--#{$name} {
      background-color: $color;
    }
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0;
  }
}

.list-group-with-actions {
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: $body-tertiary-bg;
  }
  &:hover .list-group-actions {
    display: flex;
  }
}

.list-group-actions {
  display: none;
  gap: get-spacer(2);
}

.list-group-meta {
  color: $text-muted;
  font-size: smaller;
  > span:after {
    content: "•";
    margin: 0 get-spacer(1);
  }
  > span:last-child:after {
    content: "";
  }
}

.card-header-actions {
  display: flex;
  gap: get-spacer(3);
  align-items: center;
}

.model-index-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  margin-bottom: 0;
}

.pagination__limit-select {
  display: flex;
  gap: get-spacer(2);
  align-items: center;
}

.pagination__count {
  font-size: $font-size-sm;
}

.pagination__limit-select label {
  font-size: $font-size-sm;
}

.model-search {
  padding: 0 get-spacer(2);
  display: flex;
  input {
    border-right: none;
  }
}

.model-search-preview {
  display: inline-block;
  vertical-align: bottom;
  max-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0 get-spacer(2) 0 get-spacer(1);
}

.model-clear-search {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 21px;
  &:hover {
    color: $primary;
    background-color: $white;
  }
}

#navbar-secondary {
  display: flex;
  align-items: center;
  gap: get-spacer(4);
}

a.dropdown-toggle {
  text-decoration: none;
}
