@import "node_modules/bootstrap/scss/bootstrap";
@import "./custom-functions";

$node-color-map: (
  "flow": #a3c4ff,
  "stock": cadetblue,
  "variable": coral,
);

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.react-wrapper {
  flex-grow: 1;
  position: relative;
  height: 100%;
}

.react-flow__node.selected div {
  border-color: red;
}

.react-flow__node-flow__label {
  /* background-color: #a3c4ff; */
  padding: 0 0.5rem;
}

.react-flow__node-stock div {
  background-color: cadetblue;
}

.react-flow__node-variable div {
  background-color: coral;
}

.sidebar__container {
  z-index: 1050;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: get-spacer(3);

  .animated-container {
    height: 100%;
  }
}

.sidebar {
  width: 400px;
  height: 100%;
  background-color: $white;
  box-shadow: $box-shadow-lg;
  border-color: $border-color;
  border-width: $border-width;
  border-style: $border-style;
  border-radius: $border-radius;

  display: flex;
  flex-direction: column;
}

.sidebar__header {
  min-height: 80px;
  display: flex;
  align-items: center;
  padding: get-spacer(3);
  border-bottom: $border-width $border-style $border-color;
}

.sidebar__content {
  flex-grow: 1;
  padding: get-spacer(3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.nav-item__model-name {
  display: flex;
  align-items: center;
  color: $white;
  padding-left: get-spacer(3);

  & > h3 {
    margin: 0;
  }
}

.toolbar__container {
  display: flex;
  align-items: center;
  gap: get-spacer(3);
}

.node-toolbar__node {
  padding: get-spacer(2) get-spacer(3);
  border-radius: $border-radius;
  border: ($border-width * 2) $border-style $black;
  cursor: grab;

  @each $name, $color in $node-color-map {
    &.--#{$name} {
      background-color: $color;
    }
  }
}
