@use "sass:map";

@import "node_modules/bootstrap/scss/functions";
@import "./variables-overrides";
@import "node_modules/bootstrap/scss/variables-dark";

@import "ember-power-select/themes/bootstrap";

// BS start
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
// Layout & components
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/accordion";
// @import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
// @import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
// @import "node_modules/bootstrap/scss/offcanvas";
// @import "node_modules/bootstrap/scss/placeholders";

// Helpers
@import "node_modules/bootstrap/scss/helpers";

// Utilities
@import "node_modules/bootstrap/scss/utilities/api";
// BS end

@import "./custom-functions";

@import "ember-basic-dropdown";
@import "ember-power-select";

@import "lib/colors";
@import "lib/fonts";
@import "lib/typography";
@import "lib/sidebar";
@import "lib/accordion";
@import "lib/buttons";
@import "lib/cards";
@import "lib/nav-tabs";
@import "lib/dropdown";
@import "lib/input";

@import "./header";
@import "./breadcrumbs";

// start - switch-off responsive design
$force-width: 1200px;
.container {
  width: $force-width !important;
  max-width: $force-width !important;
}
.navbar,
.react-wrapper {
  min-width: $force-width !important;
}
// end - switch-off responsive design

@mixin make-input() {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  // font-size: 1rem;
  // font-weight: 400;
  // line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition:
    border-color 0.15sease-in-out,
    box-shadow 0.15sease-in-out;

  &:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: rgb(162.5, 168, 178.5);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(163, 196, 255, 0.25);
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: get-spacer(2);
  img {
    height: get-spacer(4);
  }
}

.badge {
  padding: get-spacer(1) get-spacer(3);
  @include font-size($h6-font-size);
  font-weight: $font-weight-base;
  text-decoration: none;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: get-spacer(2);
  margin-top: get-spacer(2);

  .action-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: get-spacer(1);
    color: $black;
    fill: $black;
  }
}

.ember-basic-dropdown-content {
  z-index: 1057;
  &:has(.formula__search) {
    max-height: 50vh;
    overflow-y: scroll;
  }
}
.ember-basic-dropdown-overlay {
  z-index: 1054;
}

@import "./react-canvas";

html,
body {
  overscroll-behavior: none;
}

body {
  margin: 0;
  text-underline-offset: 3px;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: calc(100vh - 72px);
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 72px);
  padding: get-spacer(3);
}

.main-content {
  margin-top: get-spacer(3);
  display: grid;
}

.main-home {
  display: grid;
  min-height: calc(100vh - 72px);
  overscroll-behavior: auto;
}

.content-page {
  margin-top: get-spacer(5);
}

.react-wrapper {
  flex-grow: 1;
  position: relative;
  height: 100%;
}
#navbar-main {
  .nav-link.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
  }
}
.navbar h4 {
  color: $white;
  margin: 0;
}

.navbar__back {
  color: $white;
}

.toolbar__container {
  display: flex;
  align-items: center;
  gap: get-spacer(3);
  background-color: $white;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-lg;
  padding: get-spacer(3);
  border: $border-width $border-style $border-color;
}

.node-toolbar__node {
  background-color: $white;
  border-radius: $border-radius-lg;
  border: ($border-width * 2) $border-style $black;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: center;

  span {
    padding: get-spacer(1) get-spacer(2);
    display: flex;
    gap: get-spacer(2);
  }

  .node-toolbar__node__icon {
    background-color: $primary;
    color: $white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 get-spacer(1);
    border-radius: $border-radius 0 0 $border-radius;
  }

  @each $name, $color in $node-color-map {
    &.--#{$name} {
      border-color: $color;
      .node-toolbar__node__icon {
        background-color: $color;
        color: color-contrast($color);
      }
    }
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0;
  }
}

.list-group-body {
  width: 100%;
}

.list-group-body-content {
  display: flex;
  gap: get-spacer(2);
  margin-bottom: get-spacer(1);
}

.list-group-with-actions {
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: $body-tertiary-bg;
  }
  &:hover .list-group-actions {
    display: flex;
  }
}

.list-group-actions {
  display: none;
  gap: get-spacer(2);
}

.list-group-meta {
  color: $text-muted;
  font-size: smaller;

  display: flex;
  align-items: center;
  gap: get-spacer(2);

  > .badge {
    display: inline-flex;
  }
}

.card-header-actions {
  display: flex;
  gap: get-spacer(3);
  align-items: center;
}

.model-index-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  margin-bottom: 0;
}

.pagination__limit-select {
  display: flex;
  gap: get-spacer(2);
  align-items: center;
}

.pagination__count {
  font-size: $font-size-sm;
}

.pagination__limit-select label {
  font-size: $font-size-sm;
}

.model-search {
  padding: 0 get-spacer(2);
  display: flex;
  min-width: 250px;
  input {
    @include make-input();
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.search-button {
  display: flex;
  align-items: center;
  gap: get-spacer(2);
}

.search-button.dropdown-toggle::after {
  margin-left: 0;
}

.model-search-preview {
  display: inline-block;
  vertical-align: bottom;
  max-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0 get-spacer(2) 0 get-spacer(1);
}

.model-clear-search {
  color: $black;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border: 1px solid $black;
  border-radius: 11px;
  &:hover {
    color: $primary;
    background-color: $black;
  }
}

#navbar-secondary {
  display: flex;
  align-items: center;
  gap: get-spacer(2);
}

a.dropdown-toggle {
  text-decoration: none;
}

.list-group-meta .dropdown {
  display: inline-block;
}

.badge {
  display: flex;
  align-items: center;
}

a.disabled,
.dropdown-item.disabled {
  pointer-events: none;
  opacity: 0.5 !important;
}

.navbar.bg-secondary a.dropdown-item,
.dropdown-item {
  display: flex;
  gap: get-spacer(3);
  align-items: center;
}

.form-check-label {
  text-transform: capitalize;
}

.version-string {
  font-family: "Courier New", Courier, monospace;
  font-size: 80%;
  font-weight: bold;
}

.model-clear-search svg {
  position: relative;
}

.dropdown-toggle::after {
  vertical-align: 0.2em;
}

.card--login {
  @include make-col(6);
  align-self: center;
  justify-self: center;
  .card-body {
    display: flex;
    flex-direction: column;
    gap: get-spacer(3);
  }
}

.model__share__row {
  .btn {
    width: 100%;
  }
}

.label-sr-only {
  label {
    visibility: hidden;
  }
}

.meta {
  font-size: $font-size-sm;
  color: $text-muted;
}

.code-textarea {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: #333;
  padding: 10px;
  border-radius: 4px;
  resize: vertical; /* Allow resizing only vertically */
  white-space: pre-wrap; /* Preserve whitespace formatting */
  line-height: 1.5;
  field-sizing: content;
}

.formula__linked {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: get-spacer(2);
  gap: get-spacer(2);
  display: flex;
  flex-wrap: wrap;
}

.formula__add-linked {
  border-radius: $border-radius-lg;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 10rem;
  display: inline-block;
}

.formula__wrapper {
  position: relative;
  .form-control {
    padding-right: 41px;
  }
}

.formula__accordion {
  width: 320px;
  .accordion-body {
    padding: 0;
    max-height: 240px;
    overflow: auto;
  }
  a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}

.units__accordion {
  font-size: var(--bs-body-font-size);
  font-family: $font-family-base;

  .accordion-header .accordion-button {
    font-family: $font-family-base;
    font-size: var(--bs-body-font-size);
  }
  .accordion-body {
    padding: 0;
  }
  a {
    color: $black;
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  li {
    padding: 0;
  }
}

.formula__list-group li {
  padding: 0;
}

.formula__functions__btn {
  position: absolute;
  top: 3px;
  right: 3px;
}

#formulas-filter {
  border: none;
  padding: 1rem 1.25rem;
  width: 100%;
  + a {
    position: absolute;
    right: 12px;
    top: 8px;
  }
}

.simulate-model__range__wrapper {
  display: flex;
  gap: get-spacer(2);
  align-items: flex-end;
}

.simulate-model__range {
  flex: 1;
}

.simulate-model__error-node__select-link {
  text-decoration: none;
}

.units__selection__input {
  position: relative;
  margin-bottom: 0 !important;
  input {
    cursor: pointer;
  }
}

.units__selection__caret {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: var(--bs-accordion-btn-padding-x);
  padding-left: var(--bs-accordion-btn-padding-x);
  &:active {
    border: 0;
  }
}

.units__selection {
  margin-bottom: get-spacer(3);
  .accordion-button {
    border-radius: 0;
  }
}

.units__accordion > .list-group:first-child > .list-group-item:first-child {
  border-radius: 0;
  border-top: none;
  border-bottom: none;
}

fieldset {
  // border: 1px solid $border-color;
  // background-color: $body-tertiary-bg;
  padding: get-spacer(2) get-spacer(1);
  margin-bottom: get-spacer(3);
  .mb-3:last-child {
    margin-bottom: 0 !important;
  }
}

.form-switch {
  &,
  .form-label {
    margin-bottom: 0;
  }
}

.range-input__min-max {
  width: 100%;
  input {
    width: 100%;
  }
}

.range-input__min-max__control {
  width: 100%;
}

.range-input__min_max__meta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  > div {
    width: 3rem;
  }
}

.range-input__min_max__meta__value {
  font-weight: bold;
  text-align: center;
}

.range-input__min_max__meta__max {
  text-align: right;
}

.range-input__min_max__meta__unit {
  flex: 0 1 100%;
  text-align: center;
}

.scenario__value {
  width: 100%;
  margin-bottom: get-spacer(3);
}

.modal--no-backdrop {
  pointer-events: none;
}

.converter__values__row {
  align-items: center;
}

.converter__values__actions {
  display: flex;
  a {
    display: block;
    height: 38px;
    margin-bottom: get-spacer(3);
    display: flex;
    align-items: center;
  }
}

.converter__values__actions__add {
  width: 100%;
}

.button-group__full-width {
  width: 100%;
  display: flex;
}

.node__delete-button-wrapper {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-top: get-spacer(3);
}

.share-modal__permissions__badge__trigger {
  gap: 0.5rem;
}

.ember-basic-dropdown-content a.list-group-item:hover {
  background-color: var(--bs-tertiary-bg);
}

.progress {
  position: relative;
}

.ember-power-select-multiple-options {
  .ember-power-select-multiple-option {
    padding: get-spacer(1);
    background-color: $color-primary;
    color: $black;
    border-radius: $border-radius-pill;
    border: 0;
    padding: get-spacer(1) get-spacer(2);
  }

  .ember-power-select-trigger-multiple-input:focus {
    box-shadow: none;
  }
}

.property-query-wrapper {
  display: flex;
  flex-direction: column;
  gap: get-spacer(2);
  border: 1px solid $black;
  border-radius: $border-radius-lg;
  padding: get-spacer(2);
  margin-bottom: get-spacer(2);

  .single-property-query {
    display: flex;
    gap: get-spacer(2);
    align-items: center;
  }
}
.code-snippet {
  border: 1px solid $color-primary;
  background-color: $color-primary-light;
  padding: get-spacer(2);
  width: fit-content;
}

.api-info {
  display: flex;
  flex-direction: column;
  margin-bottom: get-spacer(3);
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(163, 196, 255, 0.25);
}

.ember-power-select-trigger {
  min-height: 2.25rem;
}

.ember-power-select-trigger:focus,
.ember-power-select-trigger--active {
  border-color: #a3a8b3;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(163, 196, 255, 0.25);
}

.ember-content-editable {
  @include make-input();
}

.save-indicator {
  text-align: center;
  position: absolute;
  pointer-events: none;
  width: 100%;
  top: 0;
  transform: translateY(-2.5rem);
}

.save-indicator__done {
  opacity: 0;
}

.save-indicator__spinner {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.375s ease-in-out;
}

.save-indicator__show {
  opacity: 1;
}

.alert-sm {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

.parameter__settings__add-option {
  width: 100%;
}

.edit-state-badge {
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, 1rem);
}

.react-flow__panel.bottom.center {
  pointer-events: none !important;
  .toolbar__container {
    pointer-events: all;
  }
}

.react-flow__node-arrow__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal-title em {
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  vertical-align: bottom;
}

.list-group-title {
  max-width: 50rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
