{{page-title "Index"}}

<div class="container">
  <h2>Models</h2>
  <BsListGroup as |ListGroup|>
    {{#let this.model as |models|}}
      {{#each models as |model|}}
        <ListGroup.item>
          {{model.name}}
          <LinkTo @route="models.show" @model={{model}}>
            <BsButton @type="primary" @size="sm">Show</BsButton>
          </LinkTo>
        </ListGroup.item>
      {{/each}}
    {{/let}}
  </BsListGroup>
</div>