<a
  class="node-toolbar__node --{{@config.className}}"
  href="javascript:void(0)"
  {{on "click" (fn @onClick @config)}}
>
  <div class="node-toolbar__node__icon">
    <SvgIcon @icon="add" @size="xs" />
  </div>
  <span>
    <SvgIcon @icon={{@config.icon}} @size="md" />

    {{uppercase (humanize @config.label)}}
  </span>
</a>