DATABASE_HOST=postgres
DATABASE_URL=postgresql://hcu_admin:123123123@postgres:5432/hcu_urban_model_builder?schema=public&connect_timeout=300
POSTGRES_PASSWORD=123123123
POSTGRES_USER=hcu_admin
POSTGRES_DB=hcu_urban_model_builder

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_DB_USERNAME=hcu_admin 
KC_DB_PASSWORD=123123123