{{! template-lint-disable no-bare-strings }}
{{page-title "Datenschutz"}}
{{outlet}}

<div class="container main-content content-page">
  <div class="row">
    <div class="col-sm-8">
      <h1>
        Datenschutz-Information für das Urban Model Builder Tool
      </h1>
      <p>
        Die Einhaltung datenschutzrechtlicher Vorgaben hat einen hohen Stellenwert für uns. Nachfolgend möchten wir Sie über die Erhebung und Verarbeitung Ihrer personenbezogenen Daten informieren.
      </p>

      <h2>
        Verantwortlicher
      </h2>

      <p>
        Verantwortlicher für die Datenverarbeitung ist die HafenCity Universität Hamburg (HCU), Henning-Voscherau-Platz 1, 20457 Hamburg, Tel.: +49 (0)40 42827-4359, E-Mail: hcu-datenschutz(at)vw.hcu-hamburg.de, Website: www.hcu-hamburg.de
      </p>
      <p>
        Das Tool wurde im City Science Lab der HafenCity Universität Hamburg am Lehrstuhl „Digital Urban Cultures“ unter der Leitung von Prof. Dr. Ziemer entwickelt. Das City Science Lab sitzt in der Hongkongstraße 8, 20457 Hamburg.
      </p>

      <h2>
        Urban Model Builder Tool
      </h2>

      <p>
        Das im Rahmen des „Connected Urban Twins“-Projektes entwickelte Urban Model Builder Tool dient dem kollaborativen Erstellen, Speichern, Veröffentlichen und Versionieren von Simulationsmodellen. Nach der Anmeldung können User beliebige Projekte anlegen und Verwalten. Auf einem Canvas-Interface können dann für jedes Projekt bestimmte Variablen, Stocks, Flows und Agenten angelegt werden, die dann simuliert werden.
      </p>

      <h2>
        Datenerfassung beim Zugriff auf das Tool über den Browser
      </h2>

      <p>
        Wenn Sie unser Tool aufrufen, wird an den Server aus technisch notwendigen Gründen für die Ermöglichung des Aufrufs des Tools ein Datensatz übermittelt. Dieser Datensatz besteht aus
      </p>
      <ul>
        <li>
          dem Namen und der Adresse der angeforderten Inhalte,
        </li>
        <li>
          dem Datum und der Uhrzeit der Abfrage,
        </li>
        <li>
          der übertragenen Datenmenge,
        </li>
        <li>
          dem Zugriffsstatus (Inhalt übertragen, Inhalt nicht gefunden),
        </li>
        <li>
          der Beschreibung des verwendeten Webbrowsers und des Betriebssystems,
        </li>
        <li>
          dem Referral-Link, der angibt, von welcher Seite Sie auf unsere gelangt sind,
        </li>
        <li>
          der IP-Adresse
        </li>
      </ul>
      <p>
        Rechtsgrundlage der Verarbeitung der Zugriffsdaten ist Art. 6 Abs. 1 S. 1 lit. E DSGVO. Die Verarbeitung erfolgt in dem berechtigten Interesse, die Inhalte des Tools bereitzustellen und eine Geräte- sowie Browseroptimierte Darstellung sicherzustellen.
      </p>

      <h2>
        Anmeldung/Erstellung des Nutzerkontos
      </h2>
      <p>
        Um das Urban Model Builder über den Demomodus hinaus verwenden zu können, müssen Sie sich als User registrieren. Hierfür ist es zwingend erforderlich, dass ein Username, ein Passwort und eine E-Mailadresse angeben wird. Der Username und das Passwort sind erforderlich, um Ihnen ein konkretes Konto zuzuordnen. Optional können Sie auch noch ihren Vor- und Nachnamen angeben. Die E-Mailadresse ist erforderlich, um das Double-Opt-In-Verfahren für den Registrierungsprozess zu ermöglichen. Nach Eingabe der Daten für die Registrierung erhalten Sie eine Bestätigungs-E-Mail an die von Ihnen angegebene E-Mail-Adresse (sog. Double-Opt-In).
      </p>
      <p>
        Für die Verwaltung der Benutzerregistrierung und -anmeldung nutzen wir „Keycloak“. Keycloak ist eine Open-Source-IAM-Lösung. Mit Keycloak können wir Benutzerrollen verwalten und die Zugriffsrechte steuern. Zudem besteht die Möglichkeit mit einem zentralen Login über die Keycloak-Anwendung den Zugriff auf mehrere Dienste zu steuern (Single-Sign On). Nähere Informationen zu Keycloak finden Sie unter:
        <a
          href="https://www.keycloak.org/"
          target="_blank"
          rel="noopener noreferrer"
        >
          https://www.keycloak.org/
        </a>
        .
      </p>
      <p>
        Rechtsgrundlage der Datenverarbeitung ist Art. 6 Abs. 1 lit. a DSGVO. Die Registrierung erfolgt nur, wenn Sie dieser über das Double-Opt-In-Verfahren aktiv zugestimmt haben.
      </p>
      <h2>
        Teilen und Veröffentlichen von Inhalten
      </h2>
      <p>
        Sie haben als User die Möglichkeit ihre Simulationsmodelle in dem Tool zu veröffentlichen bzw. mit konkreten Usern zu teilen. Sofern Sie Simulationsmodelle mit anderen Usern teilen, sehen diese neben ihrem geteilten Modell auch ihre Profildaten. Diese beinhalteten ihren Usernamen, sowie ihren Vor- und Nachnamen (sofern angegeben). Gleichzeitig können Sie auch die Simulationen und Profildaten von anderen Usern einsehen, sofern diese User Simulationen mit Ihnen geteilt haben.
      </p>
      <p>
        Sofern Sie Modelle veröffentlichen, sehen alle registrierten User neben ihrem veröffentlichten Modell auch ihre Profildaten. Dies beinhaltet ihren Usernamen sowie ihren Vor- und Nachnamen (sofern angegeben).
      </p>
      <p>
        Rechtsgrundlage der Datenverarbeitung ist Art. 6 Abs. 1 lit. a DSGVO. Sie können als User selbst entscheiden, welche Simulationen Sie veröffentlichen bzw. mit bestimmten Usern teilen wollen.
      </p>
      <p>
        Beachten Sie, sofern Sie Inhalte teilen und veröffentlichen bitte auch unsere Nutzungsbedingungen.
      </p>
      <h2>
        Empfänger Ihrer Daten
      </h2>
      <p>
        Im Rahmen einer Auftragsverarbeitung gemäß Art. 28 DSGVO setzen wir einen Hosting-Dienstleister ein, der uns den Webserver für die Zurverfügungstellung des Tool zur Verfügung stellt. Unser Dienstleister ist uns gegenüber streng weisungsgebunden und entsprechend vertraglich verpflichtet.
      </p>
      <p>
        Darüber hinaus erfolgt keine Datenweitergabe an Dritte.
      </p>
      <h2>
        Speicherdauer/Kriterien für die Festlegung der Speicherdauer
      </h2>
      <p>
        Wir speichern Ihre personenbezogenen Daten so lange, wie dies für den obigen Zweck erforderlich ist und die Erfüllung einer rechtlichen Verpflichtung des Verantwortlichen einer Löschung nicht entgegensteht. Im Rahmen des Piloteinsatzes des Tools im „Connected Urban Twins“ Projekt werden die Daten spätestens Ende 2026 gelöscht.
      </p>
      <p>
        Zudem haben Sie als Nutzer jederzeit die Möglichkeit ihr Nutzerprofil zu löschen. Ihre Veröffentlichungen können Sie nicht eigenständig löschen, da diese versioniert und persistiert zur Nachnutzung durch andere gespeichert werden.
      </p>
      <h2>
        Ihre Rechte als betroffene Person
      </h2>
      Werden Ihre personenbezogenen Daten verarbeitet, stehen Ihnen aufgrund der Bestimmungen der DS-GVO folgende Rechte zu:
      <h3>
        Auskunftsrecht (Artikel 15 DS-GVO)
      </h3>
      <p>
        Sie haben das Recht eine Bestätigung darüber zu verlangen, ob Sie betreffende personenbezogene Daten verarbeitet werden; ist dies der Fall, so haben Sie ein Recht auf Auskunft über diese personenbezogenen Daten und auf die in Art. 15 DS-GVO im Einzelnen aufgeführten Informationen.
      </p>
      <h3>
        Recht auf Berichtigung (Artikel 16 DS-GVO)
      </h3>
      <p>
        Sie haben das Recht, unverzüglich die Berichtigung Sie betreffender unrichtiger personenbezogener Daten und ggf. die Vervollständigung unvollständiger Daten zu verlangen.
      </p>
      <h3>
        Recht auf Löschung (Artikel 17 DS-GVO)
      </h3>
      <p>
        Sie haben das Recht, zu verlangen, dass Sie betreffende personenbezogene Daten unverzüglich gelöscht werden, sofern einer der in Art. 17 DS-GVO im Einzelnen aufgeführten Gründe zutrifft.
      </p>
      <h3>
        Recht auf Einschränkung der Verarbeitung (Artikel 18 DS-GVO)
      </h3>
      <p>
        Sie haben das Recht, die Einschränkung der Verarbeitung zu verlangen, wenn eine der in Art. 18 DS-GVO aufgeführten Voraussetzungen gegeben ist, z. B. wenn Sie Widerspruch gegen die Verarbeitung eingelegt haben, für die Dauer der Prüfung durch den Verantwortlichen.
      </p>
      <h3>
        Recht auf Datenübertragbarkeit (Artikel 20 DS-GVO)
      </h3>
      <p>
        In bestimmten Fällen, die in Art. 20 DS-GVO im Einzelnen aufgeführt sind, haben Sie das Recht, die Sie betreffenden personenbezogenen Daten in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten bzw. die Übermittlung dieser Daten an einen Dritten zu verlangen.
      </p>
      <h3>
        Widerspruchsrecht (Artikel 21 DS-GVO)
      </h3>
      <p>
        Werden Daten auf Grundlage von Artikel 6 Absatz 1 Satz 1 Buchstabe e DS-GVO (Datenverarbeitung zur Wahrung öffentlichen Interesse oder in Ausübung öffentlicher Gewalt) erhoben, steht Ihnen das Recht zu, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Widerspruch einzulegen. Wir verarbeiten die personenbezogenen Daten dann nicht mehr, es sei denn, es liegen nachweisbar zwingende schutzwürdige Gründe für die Verarbeitung vor, die gegenüber Ihren Interessen, Rechten und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
      </p>
      <h3>
        Beschwerderecht bei einer Aufsichtsbehörde (Artikel 77 DS-GVO)
      </h3>
      <p>
        Sie haben gem. Art. 77 DS-GVO das Recht auf Beschwerde bei einer Aufsichtsbehörde, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden Daten gegen datenschutzrechtliche Bestimmungen verstößt. Das Beschwerderecht kann insbesondere bei einer Aufsichtsbehörde in dem Mitgliedstaat Ihres gewöhnlichen Aufenthaltsorts, Ihres Studienplatzes oder des Orts des mutmaßlichen Verstoßes geltend gemacht werden.
      </p>
      <h3>
        Geltendmachung Ihrer Rechte
      </h3>
      <p>
        Für die Geltendmachung Ihrer Rechte wenden Sie sich bitte an
        <a href="mailto:cut@hcu-hamburg.de">
          cut@hcu-hamburg.de
        </a>
        und weisen Sie explizit darauf hin, dass Ihre Betroffenenanfrage sich auf die Usertests für das Urban Model Builder Tool bezieht.
      </p>
    </div>
  </div>
</div>