{{! template-lint-disable no-bare-strings }}
{{page-title "Impressum"}}

<div class="container main-content content-page">
  <div class="row">
    <div class="col-sm-8">
      <h1>
        Impressum
      </h1>

      <p>
        <b>
          HafenCity Universität Hamburg (HCU)
        </b>

        <br />
        Henning-Voscherau-Platz 1

        <br />
        20457 Hamburg

        <br />
        Tel.:
        <a href="tel:004940428274359">
          +49 (0) 40 42827-4359
        </a>

        <br />
        E-Mail

        <a
          href="mailto:hcu-datenschutz@vw.hcu-hamburg.de"
          target="_blank"
          rel="noopener noreferrer"
        >
          hcu-datenschutz(at)vw.hcu-hamburg.de
        </a>
        <br />
        Website:
        <a
          href="https://www.hcu-hamburg.de"
          target="_blank"
          rel="noopener noreferrer"
        >
          www.hcu-hamburg.de
        </a>
      </p>

      <p>
        Der Urban Model Builder wurde im City Science Lab der HafenCity Universität Hamburg am Lehrstuhl „Digital Urban Cultures“ unter der Leitung von Prof. Dr. Ziemer entwickelt. Das City Science Lab sitzt in der Hongkongstraße 8, 20457 Hamburg.
      </p>
    </div>
  </div>
</div>