{{page-title (t "routes.index.title")}}

<div class="container main-content">
  <div class="card card--login">
    <div class="card-header">
      <h2 class="h3">
        {{t "actions.login"}}
      </h2>
    </div>
    <div class="card-body">
      <LinkTo @route="demo" class="btn btn-secondary" aria-pressed="false">
        <span>
          {{t "general.demo"}}
        </span>
      </LinkTo>
    </div>
  </div>
</div>