<div class="container main-content">
  <div class="row">
    <div class="col-12 text-center">
      <h1>{{t "error.404_title"}}</h1>
      <p>{{t "error.404_message"}}</p>
      <a href="/" class="btn btn-primary">{{t "general.home"}}</a>
    </div>
  </div>
</div>