{{! template-lint-disable no-bare-strings }}
{{page-title "Nutzungsbedingungen"}}
{{outlet}}

<div class="container main-content content-page">
  <div class="row">
    <div class="col-sm-8">
      <h1>
        Nutzungsbedingungen für den Urban Model Builder und den Scenario Explorer
      </h1>

     <h2>§1 Geltungsbereich</h2>
     <ol>
      <li>Diese Nutzungsbedingungen regeln die Nutzung der webbasierten Tools Urban Model Builder (UMBT) und Scenario Explorer (SET), die im Rahmen des Teilforschungsprojekts „CUT-Connected Urban Twins“ vom City Science Lab entwickelt wurden.</li>
      <li>Mit der Nutzung dieser Software stimmen Sie als Nutzer den folgenden Bedingungen zu</li>
     </ol>

      <h2>§2 Definitionen</h2>
      <ol>
        <li>Das UMBT dient dem kollaborativen Erstellen, Speichern, Veröffentlichen und Versionieren von Simulationsmodellen durch grafische Bausteine, die auf einem 2D-Canvas miteinander verknüpft werden können, um Algorithmen besser zu visualisieren. Das Tool basiert auf der Open Source Simulationsbibliothek des <a href="https://insightmaker.com" target="_blank" rel="noopener noreferrer">InsightMaker</a>.</li>
        <li>Das SET ist ein Add-On des Geoportals Hamburg und dient dem Erstellen, Verwalten und Teilen von Szenarien im urbanen Kontext. Es bietet vorgefertigte Simulationsmodelle für Tests und Analysen, wobei Ergebnisse innerhalb des Tools mit anderen Nutzern geteilt werden können. Gleichzeitig kann der User auch die von anderen Usern geteilten Szenarien betrachten und die Ergebnisdaten einsehen.</li>
        <li>„Software Tools“ bezieht sich auf die webbasierten Tools UMBT und SET.</li>
        <li>„Inhalt“ bezieht sich auf Inhalte, die auf den Webseiten dargestellt oder angezeigt werden, insbesondere Modelle, Simulationen, Code, Text, Daten, Artikel, Bilder, Fotos, Grafiken, Software und andere Materialien, die auf den Webseiten oder anderweitig über den Dienst verfügbar sind. „Inhalt“ umfasst auch Dienstleistungen. „Ihre Inhalte“ sind Inhalte, die Sie erstellen oder besitzen</li>
        <li>„Wir“ und „uns“ beziehen sich auf das City Science Lab der HafenCity Universität Hamburg.</li>
        <li>„Der Nutzer“, „Sie“ und „Ihr“ beziehen sich auf die Einzelperson, die die Webseiten besucht hat oder das UMBT sowie das SET nutzt, die auf einen Teil des Kontos zugreift oder dieses nutzt oder die die Nutzung des Kontos bei der Ausführung seiner Funktionen anweist.</li>
        <li>Die „Webseiten“ beziehen sich auf die Webseiten vom City Science Lab, die sich unter https://modelbuilder.comodeling.city/login (UMBT) und https://scenarioexplorer.comodeling.city/portal/simulation/ (SET) befinden, sowie auf alle Inhalte, Dienstleistungen und Produkte, die vom City Science Lab auf oder über die Webseiten bereitgestellt werden. </li>
      </ol>

      <h2>§3 Nutzungsberechtigung</h2>
      <ol>
        <li>Die unentgeltliche Nutzung des UMBT sowie des SET ist nur natürlichen Personen ab 16 Jahren gestattet. Sollte die Person noch nicht volljährig sein, bedarf es der Zustimmung der Erziehungsberechtigten. Mit der Zustimmung zu diesen Nutzungsbedingungen bestätigen Sie, dass Sie das Mindestalter erreicht haben. Eine gesonderte Altersprüfung erfolgt nicht.</li>
        <li>Der Nutzer muss zur Registrierung und zur eindeutigen Kontozuordnung einen Benutzernamen, ein Passwort und eine gültige E-Mail-Adresse angeben. Optional kann auch zusätzlich der Vor- und Nachname angegeben werden. Nach Eingabe der Daten erhalten Sie eine Bestätigungs-Email an die von Ihnen angegebene E-Mail-Adresse.</li>
        <li>Es steht auch juristischen Personen, wie Unternehmen, Vereinen, zivilgesellschaftlichen Institutionen oder anderen Organisationen, sowie Funktionspostfächern zu, sich für die Nutzung der Software zu registrieren. Juristische Personen müssen einen verantwortlichen Ansprechpartner benennen, der für die Nutzung der Software verantwortlich ist und die Einhaltung der Nutzungsbedingungen sicherstellt. Der Zugang zur Software durch Funktionspostfächer oder Organisationen muss in Übereinstimmung mit den geltenden rechtlichen und datenschutzrechtlichen Bestimmungen erfolgen. Für juristische Personen gelten die gleichen Lizenzbedingungen wie für natürliche Personen, mit Ausnahme der Verantwortlichkeit, die vom benannten Ansprechpartner getragen wird.</li>
        <li>Die Daten aus dem Geoportal Hamburg stehen im Einklang mit dem Hamburger Transparenzgesetz und dem Hamburgischen Geodateninfrastrukturgesetz zur Verfügung. Obwohl keine explizite Lizenzierung angegeben ist, gehen wir davon aus, dass die Daten frei genutzt werden können, sofern die Quelle korrekt angegeben wird. Nutzer sollten jedoch sicherstellen, dass sie die Daten im Einklang mit den geltenden Gesetzen und Bestimmungen verwenden. Eine ordnungsgemäße Herkunftsbezeichnung ist in jedem Fall erforderlich. Bei Unsicherheiten über die Lizenzierung oder Nutzung der Daten wird eine Klärung mit den zuständigen Behörden empfohlen.</li>
      </ol>

      <h2>§4 Pflichten des Nutzers</h2>
      <ol>
        <li>Der Nutzer verpflichtet sich, die Software-Tools ausschließlich für legale und autorisierte Zwecke zu nutzen. Eine Nutzung für rechtswidrige oder schadhafte Zwecke ist ausdrücklich untersagt. Hierbei sind insbesondere folgende Verhaltensweisen untersagt:
          <ol>
            <li>Inhalte zu veröffentlichen, die unwahr sind oder deren Veröffentlichung einen Straftatbestand oder eine Ordnungswidrigkeit erfüllt</li>
            <li>Verwendung von gesetzlich durch Urheber- und Markenrecht geschützten Inhalten ohne rechtmäßige Berechtigung, </li>
            <li>Handlungen, die wettbewerbswidrig sind,</li>
            <li>eigene Werbung, folglich Schleichwerbung, zu betreiben und</li>
            <li> Inhalte zu veröffentlichen, die beleidigende, rassistische, diskriminierende oder pornographische Elemente aufweisen gegenüber anderen Nutzern und der Allgemeinheit. </li>
            <li>Der Versuch oder die Umgehung von technischen Sicherheitsmechanismen oder der Versuch oder die Erlangung von unbefugtem Zugriff.</li>
          </ol>
        </li>
        <li>Sie können während der Nutzung der Software Tools nutzergenerierte Inhalte erstellen oder hochladen. Sie sind allein verantwortlich für den Inhalt von nutzergenerierten Inhalten, die Sie veröffentlichen, hochladen, verlinken oder anderweitig über die Software- Tools zur Verfügung stellen, unabhängig von der Form dieser Inhalte, und für alle Schäden, die daraus entstehen. Wir sind nicht verantwortlich für die öffentliche Darstellung oder den Missbrauch Ihrer nutzergenerierten Inhalte.</li>
        <li>Die Nutzung der Software erfolgt auf eigenes Risiko. Sie sind dafür verantwortlich, dass Ihre Nutzung der Software-Tools in Übereinstimmung mit den Gesetzen und den geltenden Vorschriften erfolgt. Wir behalten uns das Recht vor, nach eigenem Ermessen Inhalte abzulehnen oder zu entfernen, die gegen unsere Bedingungen, Richtlinien oder geltende Gesetze verstoßen. Bei Verstoß behalten wir uns außerdem das Recht vor, Ihren Zugang zu sperren oder Ihr Konto zu löschen.</li>
      </ol>

      <h2>§5 Rechte an erstellten Inhalten und Veröffentlichungen</h2>
      <ol>
        <li>Der Nutzer behält die Urheberrechte an den von ihm erstellten Inhalten. Wenn Sie etwas hochladen, das Sie nicht selbst erstellt haben oder an dem Sie nicht die Rechte besitzen, erklären Sie sich damit einverstanden, dass Sie für alle Inhalte, die Sie hochladen und/oder veröffentlichen, verantwortlich sind, dass Sie nur Inhalte übermitteln, für die Sie das Recht haben, sie hochzuladen und/oder zu veröffentlichen, und dass Sie alle Lizenzen Dritter, die sich auf die von Ihnen zugänglich gemachten Inhalte beziehen, vollständig einhalten.</li>
        <li>Durch das Zugänglichmachen von Inhalten im UMBT oder SET erklären Sie, dass der Algorithmus dieses Modells unter der GPL 3.0 OpenSource Lizenz gestellt wird. Diese Lizenz stellt sicher, dass die Modelle für wissenschaftliche Forschung genutzt und weiterentwickelt werden können und ermöglicht es anderen, den Algorithmus zu nutzen, zu verändern und weiterzugeben, solange die gleichen Lizenzbedingungen beibehalten werden.</li>
        <li>Sie verpflichten sich, bei der Veröffentlichung oder dem Teilen eines Modells oder der Modellergebnisse im UMBT oder SET die Lizenzbedingungen der GPL 3.0 zu akzeptieren und umzusetzen.</li>
      </ol>

      <h2>§6 Veröffentlichung und API-Nutzung von Modellen</h2>
      <ol>
        <li>Wenn ein Nutzer ein Modell im UMBT oder SET veröffentlicht, kann der Nutzer entscheiden, dieses Modell auch über eine API-Schnittstelle anderen Anwendungen zur Verfügung zu stellen.</li>
        <li>Bevor ein Modell für die API-Nutzung freigegeben wird, erfolgt eine manuelle Überprüfung durch uns, um sicherzustellen, dass das Modell den technischen und qualitativen Anforderungen entspricht.</li>
        <li>Ein Modell wird erst nach erfolgreicher Überprüfung für die API-Nutzung freigegeben. Sie werden über die Freigabe und etwaige Änderungen informiert.</li>
        <li>Wir behalten uns das Recht vor, Modelle, die den Anforderungen nicht entsprechen, von der API-Nutzung auszuschließen oder abzulehnen.</li>
        <li>Die Nutzung von Modellen über die API unterliegt den gleichen Bedingungen wie die Nutzung innerhalb der Software, einschließlich der Lizenzierung und der Urheberrechtshinweise.</li>
      </ol>

      <h2>§7 Laufzeit des Nutzerprofils</h2>
      <p>Das Nutzerprofil wird durch die Registrierung und die Zustimmung zu unseren Nutzungsbedingungen aktiviert und besteht auf unbestimmte Zeit. Das Nutzerprofil kann jederzeit ohne Angabe von Gründen eigenständig gelöscht werden. </p>

      <h2>§8 Haftungsausschluss</h2>
      <ol>
        <li>Wir übernehmen keine Gewähr für die Richtigkeit, Vollständigkeit, Verfügbarkeit oder Aktualität der Webseiten oder Software-Tools. Wir sind nicht verpflichtet, die übermittelten und gespeicherten Simulationsmodelle und Szenarien der Nutzer permanent zu überwachen oder nach rechtswidrigen Inhalten zu forschen. Sie nehmen zur Kenntnis und erklären sich damit einverstanden, dass wir Ihnen oder Dritten gegenüber nicht für Gewinn-, Nutzungs-, Firmenwert- oder Datenverluste oder für zufällige, indirekte, besondere Folge- oder exemplarische Schäden, wie auch immer diese entstehen, haftbar sind, die sich u.a. ergeben können aus
          <ul>
            <li>der Nutzung, Offenlegung oder Anzeige Ihrer nutzergenerierten Inhalte,</li>
            <li>Ihrer Nutzung oder der Unmöglichkeit der Nutzung des Dienstes,</li>
            <li>jeglicher Modifikation, Aussetzung oder Einstellung des Dienstes,</li>
            <li>dem Dienst im Allgemeinen oder der Software oder Systeme, die den Dienst verfügbar machen,</li>
            <li>unbefugten Zugriff auf oder Änderungen an Ihren Übertragungen oder Daten,</li>
            <li>Äußerungen oder Verhaltensweisen Dritter im Rahmen des Dienstes,</li>
            <li>allen anderen Benutzerinteraktionen, die Sie im Rahmen Ihrer Nutzung des Dienstes eingeben oder empfangen oder jede andere Angelegenheit im Zusammenhang mit dem Dienst.</li>
          </ul>
        </li>
        <li>Eine Haftung für Schäden, die durch die Nutzung des UMBT oder SET entstehen, ist ausgeschlossen, es sei denn, es liegt vorsätzliches oder grob fahrlässiges Verschulden von unserer Seite aus vor. Wir übernehmen keine Haftung für Ausfälle oder Verzögerungen aufgrund von Umständen, die außerhalb unserer Kontrolle liegen.</li>
        <li>Wir übernehmen keine Haftung für einen ständig unterbrechungsfreien Abruf der Software-Tools. Eine Haftung diesbezüglich sowie für Ausfälle oder Verzögerungen aufgrund von Umständen, die außerhalb unserer Kontrolle liegen, wird ausgeschlossen. Ausfallzeiten können trotz sorgfältiger Planung und Überwachung auftreten.</li>
        <li>Die Wartung und der Support für das UMBT und das SET werden nach dem Ende des Teilforschungsprojekts CUT im Jahr 2025 nicht mehr gewährleistet.</li>
      </ol>

      <h2>§9 Urheberrecht </h2>
      <p>Alle Texte, Bilder und andere auf unseren Webseiten veröffentlichten Informationen und Daten unterliegen, sofern nicht anders gekennzeichnet, dem Copyright unserer Seite. Jegliche Vervielfältigung und/oder Modifikation bedarf der schriftlichen Genehmigung durch uns. Andernfalls behalten wir uns das Recht vor, rechtliche Schritte gegen diese Rechtsverletzung einzuleiten. Alle Kosten, die durch eine Rechtsverletzung seitens eines Benutzers verursacht werden, werden diesem in Rechnung gestellt.</p>

      <h2>§10 Datenschutz</h2>
      <p>Wir verpflichten uns, die Privatsphäre unserer Nutzer zu schützen. Bei der Speicherung und Verarbeitung unser Nutzerdaten werden alle geltenden Datenschutzbestimmungen eingehalten. Persönliche Daten des Nutzers werden nur dann an Dritte weitergegeben, wenn dies gesetzlich erforderlich ist. Weitere Informationen finden Sie in unseren Datenschutz-Informationen für das UMBT und das SET.</p>

      <h2>§11 Änderungen der Nutzungsbedingungen</h2>
      <p>Wir behalten uns das Recht vor, diese Nutzungsbedingungen jederzeit zu ändern. Änderungen werden den Nutzern rechtzeitig mitgeteilt.</p>

      <h2>§12 Salvatorische Klausel</h2>
      <p>Diese Nutzungsbedingungen sind als Teil unserer Webseiten zu betrachten, auf die von dieser Seite aus verwiesen wird. Sollten einzelne Formulierungen dieser Nutzungsbedingungen nicht mehr ganz oder nicht mehr vollständig mit der geltenden Rechtslage übereinstimmen, bleiben die übrigen Regelungen der Nutzungsbedingungen bestehen.</p>


      <p><b>Letzte Aktualisierung:</b> 10.04.2025</p>

    </div>
  </div>
</div>